.Companies {
	padding-top: 1rem;
}
.Company {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 0.7rem;
	font-size: 1rem;
}
.Company--isFavorite {
	background-color: gold;
}
.Company--isNotApproved {
	display: none;
}
.Company-link {
  text-decoration: none;
}
.Company-main {
	width: 100%;
	padding: 0.3rem;
	display: flex;
	flex-direction: column;
}

.Company input {
	cursor: pointer;
	border: 0px solid transparent;
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
}
.Company-body {
	margin-bottom: 0;
}
.Company-header {
	display: flex;
	align-items: center;
}
.Company-title {
	margin-bottom: 0.2rem;
	margin-right: 1rem;
}
.Company-createdDate {
	font-size: 0.8rem;
	font-style: italic;
}
