form {
	padding-bottom: 1rem;
	max-width: 30rem;
	width: 100%;
}

input,
textarea {
	width: 100%;
	min-width: 100%;
	font-family: inherit;
	margin: 0;
	padding: 0.5rem;
	border-width: 0.1rem;
	border-style: solid;
	border-color: chartreuse;
	font-size: 100%;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
	border-color: blue;
}
input[type="search"] {
	width: 100%;
}

label {
	display: flex;
	flex-direction: column;
  padding-bottom: 1rem;
}

label input {
	margin-top: 0.3rem;
}

optgroup {
	padding: 0.5rem;
	background-color: white;
}

optgroup::before {
	display: none;
}

option {
	font-size: 1rem;
	padding: 0.2rem;
	margin-top: 0.2rem;
}


.FormItem--h {
	flex-grow: 3;
}
.FormItem--h input {
	margin: 0;
}
