@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 17px;
	line-height: 1.5;
  font-family: 'IBM Plex Serif', serif;
	background-color: mintcream;
	/* font-family: serif; */
}

a {
	color: black;
}

a.active {
	font-weight: bold;
}

p {
	margin-bottom: 1rem;
	line-height: 1.6;
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.4rem;
}

small {
	font-weight: normal;
}

strong {
	font-weight: bold;
	/* a visual test */
	margin-left: 0.2rem;
}

ul {
	list-style-type: circle;
  list-style-position: outside;
  padding-left: 1.1rem;
	margin-bottom: 1rem;
}

hr {
  margin-block-end: 0.2rem;
  margin-block-start: 0.2rem;
}
