@import 'reset.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 15px;
}

section {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.Nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.Nav a {
	padding: 1rem;
}

form {
	padding-bottom: 1rem;
	max-width: 30rem;
}
label {
    display: block;
    padding-bottom: 1rem;
}
label input {
	margin-top: 0.3rem;
}
input,
textarea {
	width : 100%;
	font-family: inherit;
	margin: 0;
	padding: 0.5rem;
	border: 1px solid #9a9a9a;
	font-size: 100%;
}
.Company {
	margin-bottom: 0.8rem;
}
