@import 'reset.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 15px;
	line-height: 1.4;
	font-family: serif;
}
hr {
  margin-block-end: 0.2rem;
  margin-block-start: 0.2rem;
}

optgroup {
	padding: 0.5rem;
	background-color: white;
}
option {
	font-size: 1.1rem;
	padding: 0.2rem;
	margin-top: 0.2rem;
}
.Section {
	padding-bottom: 2rem;
}
.Container {
	padding-left: 1rem;
	padding-right: 1rem;
}

.App-main,
.App-aside {
	padding-top: 1.5rem;
}
a.active {
	background-color: #e9e9e9;
}
p {
	max-width: 40rem;
	margin-bottom: 1rem;
	line-height: 1.6;
}
h1, h2, h3, h4 {
	font-weight: bold;
	margin-bottom: 1.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.4rem;
}
small {
	font-weight: normal;
}
strong {
	font-weight: bold;
}
ul {
	list-style-type: circle;
  list-style-position: outside;
  padding-left: 1.1rem;
}
.App {
	display: flex;
	flex-direction: column;
}
@media (min-width: 30rem) {
	.App {
		flex-direction: row;
	}
}
a.Logo {
	background-color: transparent;
}
.Logo-img {
	width: 100%;
	min-width: 3rem;
}
.Nav {
	display: flex;
	flex-direction: row;
	max-width: 8rem;
	width: 100%;
	min-width: 8rem;
	align-items: center;
}
@media (min-width: 30rem) {
	.Nav--main {
		flex-direction: column;
		align-items: start;
	}
}
.Nav-Link,
.Nav-link:visited {
	color: black;
}
.Nav-link {
	width: 100%;
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-decoration: none;
}

form {
	padding-bottom: 1rem;
	max-width: 30rem;
}
label {
  display: block;
  padding-bottom: 1rem;
}
label input {
	margin-top: 0.3rem;
}
input,
textarea {
	width : 100%;
	font-family: inherit;
	margin: 0;
	padding: 0.5rem;
	border: 1px solid #9a9a9a;
	font-size: 100%;
}
.Companies {
	padding-top: 1rem;
}
.Company {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 1.8rem;
	font-size: 1rem;
	padding: 0.3rem;
}
.Company--isNotApproved {
	background-color: gold;
}
.Company-body {
	width: 100%;
}
.Company-title {
	margin-bottom: 0.2rem;
}
.Company-link input {
	border: 0px solid transparent;
	background-color: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
}

.Notifications {
	position: fixed;
	top: 0;
	right: 0;
	max-width: 20rem;
	width: 100%;
}
.Notification {
	font-size: 0.8rem;
	background-color: #9a9a9a;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	padding: 1rem;
}

.ButtonGroup .Button {
	margin-left: 1rem;
}
.ButtonGroup .Button:first-child {
	margin-left: 0;
}
.Button {
	padding: 0.3rem;
}
.Button--rotate span {
	display: inline-block;
	transform: rotate(90deg)
}
.Button.Button--contextualToggle {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	padding-right: 0rem;
	padding-left: 0;
	font-size: 0.8rem;
	color: gray;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	z-index: 1;
}
.Button--contextualToggle:hover {
	cursor: pointer;
}
.Button-contextualToggle span {
	user-select: none;
}

.Contextual-nav {
	opacity: 0;
	width: 100%;
	max-width: 3rem;
	height: 3rem;
}
.ContextualToggle {
	position: relative;
}
.ContextualToggle:focus .Contextual-nav {
	opacity: 1;
}
