@import 'reset.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 15px;
	line-height: 1.4;
}
.Section {
	padding-bottom: 2rem;
}
.Container {
	padding-left: 1rem;
	padding-right: 1rem;
}

.App-main,
.App-aside {
	padding-top: 1.5rem;
}

a.active {
	background-color: #e9e9e9;
}
p {
	max-width: 40rem;
	margin-bottom: 1rem;
	line-height: 1.6;
}
h1, h2, h3 {
	font-weight: bold;
	margin-bottom: 1rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.4rem;
}
small {
	font-weight: normal;
}
strong {
	font-weight: bold;
}
.App {
	display: flex;
	flex-direction: column;
}
@media (min-width: 30rem) {
	.App {
		flex-direction: row;
	}
}
a.Logo {
	background-color: transparent;
}
.Logo-img {
	width: 100%;
	min-width: 3rem;
}
.Nav {
	display: flex;
	flex-direction: row;
	max-width: 8rem;
	width: 100%;
	min-width: 8rem;
	align-items: center;
}
@media (min-width: 30rem) {
	.Nav--main {
		flex-direction: column;
		align-items: start;
	}
}
.Nav a {
	width: 100%;
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

form {
	padding-bottom: 1rem;
	max-width: 30rem;
}
label {
    display: block;
    padding-bottom: 1rem;
}
label input {
	margin-top: 0.3rem;
}
input,
textarea {
	width : 100%;
	font-family: inherit;
	margin: 0;
	padding: 0.5rem;
	border: 1px solid #9a9a9a;
	font-size: 100%;
}
.Company {
	margin-bottom: 0.8rem;
}

.Notifications {
	position: fixed;
	top: 0;
	right: 0;
	max-width: 20rem;
	width: 100%;
}
.Notification {
	font-size: 0.8rem;
	background-color: #9a9a9a;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	padding: 1rem;
}

.ButtonGroup .Button {
	margin-left: 1rem;
}
.ButtonGroup .Button:first-child {
	margin-left: 0;
}
