.Nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}
@media (max-width: 30rem) {
	.Nav {
		font-size: 1.1rem;
	}
}
.Nav h1 {
	margin-bottom: 0;
}
.Nav--logo {
	align-content: center;
	margin-left: -1rem;
}
.Nav--logo .Nav-item {
	background-color: transparent;
}
@media (max-width: 30rem) {
	.Nav--main {
		overflow-x: scroll;
	}
}
.Nav--main .Nav-item {
	width: 100%;
}
.Nav--main .Nav-item.active {
	background-color: orchid;
	border-radius: 0.1rem;
}

.Nav--tags {
	flex-wrap: wrap;
	background-color: skyblue;
	padding: 1rem;
	position: relative;
	margin-top: 1rem;
}
.Nav--tags .Nav-item {
	margin-right: 0.2rem;
	margin-bottom: 0.2rem;
}
.Nav--tags .Nav-item:first-child {
	background-color: cyan;
}
.Nav--horizontal .Nav-item {
	margin-right: 0.5rem;
}
.Nav--sticky {
  position: sticky;
  top: 0.4rem;
  padding: 0.3rem;
  box-shadow: 0px 2px 4px #5f9ea040;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: mintcream;
  z-index: 1;
}
.Nav--sticky label {
	padding-bottom: 0;
}

.Nav--companies > * {
	margin: 0.15rem;
}
.Nav--companies .Button {
	flex-grow: 1;
}

.Nav-item,
.Nav-item:visited {
	color: black;
}
.Nav-item {
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-decoration: none;
}

.Nav .Button {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}
