.Nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.Nav h1 {
	margin-bottom: 0;
}
.Nav--logo {
	align-content: center;
	margin-left: -1rem;
}
.Nav--logo .Nav-item {
	background-color: transparent;
}
@media (max-width: 30rem) {
	.Nav--main {
		overflow-x: scroll;
	}
}
.Nav--main .Nav-item {
	width: 100%;
}

.Nav--tags {
	flex-wrap: wrap;
}
.Nav--tags .Nav-item {
	margin-right: 0.2rem;
	margin-bottom: 0.2rem;
}
.Nav--horizontal .Nav-item {
	margin-right: 0.5rem;
}
.Nav-item,
.Nav-item:visited {
	color: black;
}
.Nav-item {
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-decoration: none;
}
