.Notifications {
	position: fixed;
	top: 0;
	right: 0;
	max-width: 20rem;
	width: 100%;
}
.Notification {
	font-size: 0.8rem;
	background-color: #9a9a9a;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	padding: 1rem;
}
