.Tag {
	position: relative;
}
.Tag-number {
	position: absolute;
	top: -0.6rem;
	right: -0.3rem;
	font-size: 0.6rem;
}

.Nav--tags .Tag:nth-child(n+10) {
	display: none;
}
.Nav--tags.is-visible .Tag:nth-child(n+10) {
	display: inherit;
}
